python-can
cx_Freeze
importlib_resources==6.5.2
intelhex==2.3.0
ipykernel==7.2.0
ipython==8.12.3
jupyter_client==8.8.0
matplotlib==3.10.8
monotonic==1.6
numpy
Pygments==2.19.2
pymavlink==2.4.49
PyQt5==5.15.11
pyqtgraph==0.14.0
pyserial==3.5
PyYAML==6.0.3
pyzmq==27.1.0
qtawesome==1.4.1
qtconsole==5.7.1
qtwidgets==1.1
setuptools
sip==6.15.1
traitlets==5.14.3
